<%= tag.h1("Statement #{@statement.id}", class: "govuk-heading-l") %>

<%= render NpqSeparation::Admin::StatementSelectorComponent.new(@statement) %>

<%=
  govuk_summary_list do |summary_list|
    summary_list.with_row do |row|
      row.with_key(text: "ID")
      row.with_value(text: @statement.id)
    end

    summary_list.with_row do |row|
      row.with_key(text: "Lead provider")
      row.with_value(text: @statement.lead_provider.name)
    end

    summary_list.with_row do |row|
      row.with_key(text: "Cohort")
      row.with_value(text: format_cohort(@statement.cohort))
    end

    summary_list.with_row do |row|
      row.with_key(text: "Statement period")
      row.with_value(text: @statement.name)
    end

    summary_list.with_row do |row|
      row.with_key(text: "Status")
      row.with_value(text: govuk_tag(text: @statement.state.capitalize))
    end
  end
%>

<% @calculator = Statements::SummaryCalculator.new(statement: @statement) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @npq_special_contracts.any? %>
      <div class="govuk-warning-text app-application__standalone-course">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          <%= @npq_special_contracts.map{|c| t(c.course_identifier, scope: "npq_courses") }.join(", ") %>
          has standalone payments.
          <br/>
          <%= govuk_link_to "View payments for this course", '#standalone_payments' %>
        </strong>
      </div>
    <% end %>

    <div class="govuk-!-padding-3 bg-light-grey">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h4 class="govuk-heading-m govuk-!-margin-bottom-2"><%= t("finance.totals") %></h4>

          <p class="govuk-body-s govuk-!-margin-bottom-2">
            <%= t("finance.output_payment.label") %>
            <span class="float-right"><%= number_to_currency(@calculator.total_output_payment) %></span>
          </p>

          <% if @calculator.show_targeted_delivery_funding? %>
            <p class="govuk-body-s govuk-!-margin-bottom-2">
              <%= t("finance.targeted_delivery_funding.caption") %>
              <span class="float-right"><%= number_to_currency(@calculator.total_targeted_delivery_funding) %></span>
            </p>
          <% end %>

          <p class="govuk-body-s govuk-!-margin-bottom-2">
            <%= t("finance.clawbacks.caption") %>
            <span class="float-right"><%= number_to_currency(-@calculator.total_clawbacks) %></span>
          </p>

          <% unless @calculator.total_service_fees.zero? %>
            <p class="govuk-body-s govuk-!-margin-bottom-2">
              <%= t("finance.service_fee.caption") %>
              <span class="float-right"><%= number_to_currency(@calculator.total_service_fees) %></span>
            </p>
          <% end %>

          <hr/>

          <p class="govuk-body-s govuk-!-margin-bottom-2">
            <strong><%= t("finance.total_net_vat") %></strong>
            <strong class="float-right"><span><%= number_to_currency(@calculator.total_payment) %></span></strong>
          </p>
        </div>

        <div class="govuk-grid-column-one-half">
          <p class="govuk-body-s govuk-!-margin-bottom-0"><%= t("finance.cut_off_date.caption") %></strong>
          <p class="govuk-body-l govuk-!-font-weight-bold"><%= @statement.deadline_date.to_fs(:govuk) %></p>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-top-3">
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body-s govuk-!-margin-bottom-0"><%= t("finance.total_starts") %></p>
          <p class="govuk-heading-m govuk-!-padding-top-0"><%= @calculator.total_starts %></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body-s govuk-!-margin-bottom-0"><%= t("finance.total_retained") %></p>
          <p class="govuk-heading-m govuk-!-padding-top-0"><%= @calculator.total_retained %></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body-s govuk-!-margin-bottom-0"><%= t("finance.total_completed") %></p>
          <div class="govuk-heading-m govuk-!-padding-top-0"><%= @calculator.total_completed %></div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body-s govuk-!-margin-bottom-0"><%= t("finance.total_voids") %></p>
          <p class="govuk-heading-m govuk-!-padding-top-0">
            <%= @calculator.total_voided %>
            <br>
            <!--<p class="govuk-body-s"><%#= govuk_link_to( t("finance.view") , finance_npq_lead_provider_statement_voided_path(@statement.lead_provider.id, @statement)) %></p>-->
          </p>
        </div>
      </div>
    </div>

    <!-- TODO -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="app-application__panel__actions">
          <div class="duvet">
            <div class="govuk-grid-column-one-half govuk-!-text-align-left">
              <% if false && authorise_for_payment_button_visible?(@statement) %>
                <%= button_to t("finance.statements.payment_authorisations.button"), new_finance_statement_payment_authorisation_path(@statement), method: :get, class: "govuk-button govuk-button--primary" %>
              <% elsif @statement.marked_as_paid_at.present? %>
                <%= govuk_tag(text: t("finance.statements.payment_authorisations.tag.content", statement_marked_as_paid_at: @statement.marked_as_paid_at.in_time_zone("London").strftime("%-I:%M%P on %-e %b %Y"))) %>
              <% else %>
                &nbsp;
              <% end %>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-text-align-right">
              <p class="govuk-body-s">
                <%=
                  govuk_link_to "Save as PDF", "javascript:void(0)", onclick: "window.formattedPrint(this)", data: { filename: "#{@statement.lead_provider.name} #{@statement.name} NPQ Statement (#{@statement.cohort.start_year} Cohort)" }
                %>
              </p>
              <p class="govuk-body-s">
                <%#= govuk_link_to "Download declarations (CSV)", finance_npq_statement_assurance_report_path(@statement, format: :csv) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% @statement.contracts.joins(:course).order(identifier: :asc).each do |contract| %>
  <p>&darr; Contract ID <%= contract.id %></p>
  <%= render NpqSeparation::Admin::CoursePaymentOverviewComponent.new(statement: @statement, contract:) %>
<% end %>

<%=
  govuk_details(summary_text: "Contract information") do
    govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "Course")
          row.with_cell(text: "Recruitment target")
          row.with_cell(text: "Payment amount per participant")
        end
      end

      table.with_body do |body|
        @statement.contracts.joins(:course).order(identifier: :asc).each do |contract|
          body.with_row do |row|
            row.with_cell(text: contract.course.name)
            row.with_cell(text: contract.contract_template.recruitment_target)
            row.with_cell(text: number_to_currency(contract.contract_template.per_participant))
          end
        end
      end
    end
  end
%>

<%=
  govuk_details(summary_text: t("finance.calculation_rounding_message.title")) do
    tag.p t("finance.calculation_rounding_message.content")
  end
%>
