<%= tag.h1("#{@statement.lead_provider.name}, #{statement_name(@statement)}", class: "govuk-heading-l") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body govuk-!-margin-bottom-2">
      <strong>Cohort:</strong>
      <%= @statement.cohort.description %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <strong>Output payment date:</strong>
      <%= @statement.payment_date.to_fs(:govuk) %>
      &nbsp;<%= govuk_link_to "Change", npq_separation_admin_finance_statements_change_payment_date_path(@statement) %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <strong>Status:</strong>
      <%= @statement.state.humanize %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <strong>Payment run:</strong>
      <%= boolean_red_green_tag(@statement.output_fee) %>
    </p>
    <%= govuk_details(summary_text: "Statement ID", id: "statement-id") do
          @statement.ecf_id
        end %>

    <% if @statement.marked_as_paid_with_date? %>
      <p class="govuk-!-margin-bottom-2">
        <strong class="govuk-tag govuk-tag--green">Authorised for payment at <%= @statement.marked_as_paid_at.in_time_zone("London").strftime("%-I:%M%P on %-e %b %Y") %></strong>
      </p>
    <% end %>

    <div class="govuk-inset-text">
      Calculations may have minor rounding discrepancies. Contact your contract manager for clarification.
    </div>

    <%= render NpqSeparation::Admin::StatementSummaryComponent.new(statement: @statement) %>

    <div class="govuk-inset-text noprint">
      <p> Save a copy of this statement for: </p>
      <%= govuk_list(
        [
          govuk_link_to("Providers", "#", onclick: "window.formattedPrint(this)", data: { path: print_provider_npq_separation_admin_finance_statement_path(@statement) }),
          govuk_link_to("DfE users", "#", onclick: "window.formattedPrint(this)", data: { path: print_dfe_user_npq_separation_admin_finance_statement_path(@statement) }),
        ],
        type: :bullet) %>

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <% if @special_contracts.any? %>
          <div id="special-contracts-warning">
            <%= govuk_warning_text(icon_fallback_text: "Warning") do %>
              <%= @special_contracts.map { _1.course.name }.to_sentence %> has standalone payments.
              <br/>
              <%= govuk_link_to "View payments for this course", "#standalone_payments" %>
            <% end %>
          </div>
        <% end %>
        <% if @statement.allow_marking_as_paid? %>
          <%= govuk_button_link_to t("npq_separation.admin.finance.statements.payment_authorisations.new.button"), new_npq_separation_admin_finance_payment_authorisation_path(@statement) %>
        <% end %>
      </div>
    </div>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Manual adjustments</h1>
    <h2 class="govuk-heading-m">Additional adjustments</h2>

    <%= render NpqSeparation::Admin::AdjustmentsTableComponent.new(adjustments: @statement.adjustments, show_total: true) %>

    <% unless @statement.paid? %>
      <div class="govuk-button-group">
        <%= govuk_button_link_to "Make adjustment", new_npq_separation_admin_finance_statement_adjustment_path(@statement) %>
        <% if @statement.adjustments.any? %>
          <%= govuk_link_to "Change or remove", npq_separation_admin_finance_statement_adjustments_path(@statement, show_all_adjustments: true) %>
        <% end %>
      </div>
    <% end %>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Course finance details</h1>

    <%= govuk_accordion do |accordion|
      @contracts.each do |contract|
        accordion.with_section(heading_text: contract.course.name) { render NpqSeparation::Admin::CoursePaymentOverviewComponent.new(contract:) }
      end
    end %>

    <% if @special_contracts.any? %>
      <h4 id="standalone_payments" class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-7">Standalone payments</h4>
      <% @special_contracts.each do |contract| %>
        <%= render NpqSeparation::Admin::CoursePaymentOverviewComponent.new(contract:) %>
      <% end %>
    <% end %>

    <%= govuk_details(summary_text: "Contract Information", id: "contract-information") do
      render partial: "contract_information"
    end %>
  </div>
</div>
