<%= govuk_back_link href: npq_separation_admin_cohort_path(@cohort) %>

<h1 class="govuk-heading-l">Create new cohort <%= format_cohort(@cohort) %> statements</h1>

<%= render partial: 'errors', object: @service.errors if @service.try(:errors).present? %>

<%= form_with model: @service, scope: :statements_bulk_creator, url: npq_separation_admin_cohort_statements_path(params[:cohort_id]) do |f| %>
  <div class="govuk-form-group">
    <%= f.label :statements_csv_file, "Statements CSV", class: "govuk-label govuk-label--m" %>
    <div class="govuk-drop-zone" data-module="govuk-file-upload">
      <%= f.file_field :statements_csv_file, class: "govuk-file-upload" %>
    </div>
    <%= govuk_details(summary_text: "Example statements CSV", classes: 'govuk-!-margin-top-3') do %>
      <p class="govuk-body">One row per statement to be created for each contracted provider, e.g.:</p>
<pre class="govuk-!-padding-5 govuk-!-font-size-16 statement-example">
<%= Statements::BulkCreator::StatementRow.example_csv %>
</pre>
      <div class="govuk-button-group">
        <%= govuk_link_to "Download empty statements template", npq_separation_admin_cohort_statement_path(@cohort, 'statements.csv') %>
      </div>
    <% end %>
  </div>

  <hr class="govuk-section-break govuk-section-break--m xgovuk-section-break--visible">

  <div class="govuk-form-group">
    <%= f.label :contracts_csv_file, "Contracts CSV", class: "govuk-label govuk-label--m" %>
    <div class="govuk-drop-zone" data-module="govuk-file-upload">
      <%= f.file_field :contracts_csv_file, class: "govuk-file-upload" %>
    </div>
    <%= govuk_details(summary_text: "Example contracts CSV", classes: 'govuk-!-margin-top-3') do %>
      <p class="govuk-body">One row per course to be added to each provider's statements, e.g.:</p>
<pre class="govuk-!-padding-5 govuk-!-font-size-16 statement-example">
<%= Statements::BulkCreator::ContractRow.example_csv %>
</pre>
      <div class="govuk-button-group">
        <%= govuk_link_to "Download empty contracts template", npq_separation_admin_cohort_statement_path(@cohort, 'contracts.csv') %>
        <%= govuk_link_to "Find provider names", npq_separation_admin_lead_providers_path %>
        <%= govuk_link_to "Find course identifiers", npq_separation_admin_courses_path %>
      </div>
    <% end %>
  </div>

  <div class="govuk-inset-text">
    There will be a short delay while the files are processed.
  </div>

  <%= f.govuk_submit "Continue to preview" %>
<% end %>
