<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <%= render "admin/layout", title: "Feature flags" %>

    <h1 class="govuk-heading-m">In use</h1>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Feature name</th>
          <th scope="col" class="govuk-table__header">Current state</th>
          <th scope="col" class="govuk-table__header">Users</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% @features.each do |feature| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= feature %></td>
            <td class="govuk-table__cell"><strong class="govuk-tag <%= Flipper.enabled?(feature) ? 'govuk-tag--green' : 'govuk-tag--red' %>"><%= Flipper.enabled?(feature) ? 'On' : 'Off' %></strong></td>
            <td class="govuk-table__cell"><%= Flipper::Adapters::ActiveRecord::Gate.where(feature_key: feature, key: "actors").count %></td>
            <td class="govuk-table__cell"><%= govuk_link_to("View", admin_feature_path(feature)) %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
      <%# only display this section if there is flag in DB that is not in the Feature::FEATURE_FLAG_KEYS %>

    <% if @features_not_in_use.present? %>
    <h1 class="govuk-heading-m">Not in use</h1>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Feature name</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% @features_not_in_use.each do |feature| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= feature.key %></td>
            <td class="govuk-table__cell"><%= button_to 'Delete', admin_feature_path(feature), method: :delete, class: 'govuk-button govuk-button--warning govuk-!-margin-bottom-0' %></td>
        <% end %>
      </tbody>

    </table>

    <% end %>

  </div>
