<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: admin_features_path
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div>
      <span class="govuk-caption-xl">Feature flags</span>
      <h1 class="govuk-heading-xl"><%= @feature %></h1>
    </div>

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Current state</h2>
      <span class="govuk-tag <%= Flipper.enabled?(@feature) ? 'govuk-tag--green' : 'govuk-tag--red' %> govuk-!-margin-top-1">
        <%= Flipper.enabled?(@feature) ? 'On' : 'Off' %>
      </span>
    </div>

    <div>
      <%= t(".#{@feature.parameterize(separator: '_')}_html") %>
    </div>

    <div class="govuk-!-margin-top-8">
      <%= form_with url: admin_feature_path(@feature), method: :patch, local: true do |f| %>
      <%= f.govuk_text_field :feature_flag_name,
          label: { text: 'Confirm the feature flag name to change the state', tag: 'h2', size: 'm', class: 'govuk-!-margin-bottom-2' },
          hint: { text: 'Write the feature name exactly as it appears, including any capitalisation.' } %>
      <%= f.govuk_submit 'Change state' %>
      <% end %>
    </div>

  </div>
</div>
