<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: admin_features_path
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @feature %></h1>

    <p class="govuk-body-l">
      Current state: <strong class="govuk-tag <%= Flipper.enabled?(@feature) ? 'govuk-tag--green' : 'govuk-tag--red' %>"><%= Flipper.enabled?(@feature) ? 'On' : 'Off' %></strong>
    </p>

    <%= t(".#{@feature.parameterize(separator: '_')}_html") %>

    <%= form_with url: admin_feature_path(@feature), method: :patch, local: true do %>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Change state
      </button>
    <% end %>

    <h2 class="govuk-heading-m">Actors</h2>

    <p class="govuk-body-m">
      There are currently <%= Flipper::Adapters::ActiveRecord::Gate.where(feature_key: @feature, key: "actors").count %> actors for this feature.
    </p>

    <% if @actors.any? %>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Actor</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @actors.each do |actor| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= actor.value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    
  </div>
</div>