<% content_for :side_navigation do %>
  <%=
    render NpqSeparation::SubNavigationComponent.new(
      request.path,
      structure:
      [
        NpqSeparation::NavigationStructure::Node.new(
              name: "Course providers",
              href: npq_separation_admin_lead_providers_path,
        )
      ]
    )
  %>

  <%=
    render NpqSeparation::SubNavigationComponent.new(
      request.path,
      heading: {
        text: @lead_provider.name,
        visible: true
      },
      structure:
        Cohort.order(start_year: :desc).map do |cohort|
          NpqSeparation::NavigationStructure::Node.new(
            name: "Cohort #{format_cohort(cohort)}",
            href: npq_separation_admin_lead_provider_cohort_path(@lead_provider, cohort),
            prefix: "/npq-separation/admin/lead-providers/#{@lead_provider.id}/cohort/#{cohort.id}"
          )
        end
    )
  %>
<% end %>

<%= tag.h1(@lead_provider.name, class: "govuk-heading-l") %>

<%= tag.h2("Cohort #{format_cohort(@cohort)}", class: "govuk-heading-m") %>

<p class="govuk-body">List of delivery partners linked to <%= @lead_provider.name %> for this cohort.</p>

<%= govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "Delivery partner")
        end
      end
      table.with_body do |body|
        @delivery_partners.each do |delivery_partner|
          body.with_row do |row|
            row.with_cell(text: delivery_partner.name)
          end
        end
      end
    end
%>
<%= govuk_pagination(pagy: @pagy) %>
