<h1 class="govuk-heading-l">Users</h1>

<div class="admin-search-box">
  <%= form_with method: :get do |f| %>
    <%= f.govuk_text_field(
        :q,
        value: params[:q],
        label: { text: "Find a user", size: "s" },
        hint: { text: "Search by the user's name, email address, teacher reference number (TRN) or application ID", size: "m"}
      )
    %>

    <%= f.govuk_submit "Search" %>
  <% end %>
</div>

<% if @valid_search %>
  <h2 class="govuk-heading-m">Search results</h2>

  <%= render "users", users: @users %>
  <%= govuk_pagination(pagy: @pagy) %>
<% elsif @performing_search %>
  <p class="govuk-inset-text">Please enter at least 2 characters to search and see results.</p>
<% else %>
  <h2 class="govuk-heading-m">Recently added</h2>

  <%= render "users", users: @users %>
  <%= govuk_pagination(pagy: @pagy) %>
<% end %>

