<%= govuk_back_link(href: url_for(:back)) %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-1"><%= @user.full_name %></h1>

<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>User ID:</strong>
  <%= @user.ecf_id %>
</p>
<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>Date of birth:</strong>
  <%= @user.date_of_birth.try(:to_fs, :govuk_short) %>
  |
  <strong>National Insurance:</strong>
  <%= @user.national_insurance_number %>
</p>
<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>TRN:</strong>
  <%= @user.trn %>
  <%=
    if @user.trn_verified == false
      govuk_tag(text: "Not verified", colour: "red")
    else
      verified_method = @user.trn_auto_verified ? "automatically" : "manually"
      govuk_tag(text: "Verified", colour: "green") + " - #{verified_method}"
    end
  %>
  <%= govuk_link_to "Change", npq_separation_admin_users_change_trn_path(@user) %>
</p>
<p class="govuk-body govuk-!-margin-bottom-6">
  <strong>Get an Identity ID:</strong>
  <%= @user.uid %>
</p>

<% if @applications.none? %>
  <p class="govuk-body">This user has no applications.</p>
<% else %>
  <%= render partial: 'application', collection: @applications %>
<% end %>
