<%= govuk_back_link(href: url_for(:back)) %>

<h1 class="govuk-heading-l"><%= @user.full_name %></h1>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Overview
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          User ID
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @user.ecf_id %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Preferred Name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @user.preferred_name.presence || @user.full_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @user.email %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          TRN
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @user.trn %>
          <%= trn_verified_badge(@user) %>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to "Change", npq_separation_admin_users_change_trn_path(@user) %>
          <br>
          <%= govuk_link_to "View teaching record", "#{ENV['TRS_URL']}/persons?Search=#{@user.trn}", new_tab: "" %>
        </dd>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Get an Identity ID
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @user.uid %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<h2 class="govuk-heading-m">Applications</h2>

<% if @applications.none? %>
  <p class="govuk-body">This user has no applications.</p>
<% else %>
  <%= render partial: 'application', collection: @applications %>
<% end %>
