<%= govuk_back_link(href: url_for(:back)) %>

<% content_for :side_navigation do %>
  <hr class="govuk-section-break govuk-section-break--m">

  <%= render NpqSeparation::SubNavigationComponent.new(
    request.path,
    heading: {
      text: @user.full_name,
      visible: true
    },
    structure: [
      NpqSeparation::NavigationStructure::Node.new(
        name: "Overview",
        href: npq_separation_admin_user_path(@user),
        prefix: npq_separation_admin_user_path(@user)
      )
    ]
  ) %>
<% end %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-1"><%= @user.full_name %></h1>

<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>User ID:</strong>
  <%= @user.ecf_id %>
</p>
<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>Date of birth:</strong>
  <%= @user.date_of_birth.try(:to_fs, :govuk_short) %>
  |
  <strong>National Insurance:</strong>
  <%= @user.national_insurance_number %>
</p>
<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>TRN:</strong>
  <%= @user.trn %>
  <%= trn_verified_badge(@user) %>
  <%= govuk_link_to "Change", npq_separation_admin_users_change_trn_path(@user) %>
</p>
<p class="govuk-body govuk-!-margin-bottom-6">
  <strong>Get an Identity ID:</strong>
  <%= @user.uid %>
</p>

<% if @applications.none? %>
  <p class="govuk-body">This user has no applications.</p>
<% else %>
  <%= render partial: 'application', collection: @applications %>
<% end %>
