<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %> Funding
<% end %>

<% npqeyl = Course.npqeyl %>

<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">
You’re not eligible for scholarship funding for <%= localise_sentence_embedded_course_name(course) %>
as you do not work in one of the eligible settings, such as state-funded schools.
</p>

<p class="govuk-body">This means that you would need to pay for the course another way.</p>

<p class="govuk-body">However, you are eligible for scholarship funding for <%= localise_sentence_embedded_course_name(npqeyl) %>.</p>

<p class="govuk-body">You can <a href="<%= registration_wizard_show_url(@wizard.previous_step_path) %>"> go back and select <%= localise_sentence_embedded_course_name(npqeyl) %></a> instead.</p>
