<head>
  <meta charset="utf-8">
  <% if content_for?(:title) %>
    <title><%= content_for(:title) %> - Register for a national professional qualification</title>
  <% else %>
    <title>Register for a national professional qualification</title>
  <% end %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= canonical_tag %>
  <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
  <%= tag :meta, property: 'og:image', content: asset_pack_path('media/images/govuk-opengraph-image.png') %>
  <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
  <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>
  <%= favicon_link_tag asset_pack_path('media/images/favicon.svg'), type: 'image/svg+xml' %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-icon-mask.svg'), type: 'image/svg+xml' %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-icon-180.png'), rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application', defer: true %>

  <%= render partial: "shared/analytics/google" %>

  <% if show_tracking_pixels? && Rails.env.production? %>
    <%= render partial: "shared/analytics/tracking_pixels" %>
  <% end %>

  <% if Rails.env.development? %>
    <script>
      console.log(<%= session.to_json.html_safe %>)
    </script>
  <% end %>
</head>
