<h1 class="govuk-heading-l">Revert applications to pending</h1>

<%= form_for @bulk_operation, url: npq_separation_admin_bulk_operations_revert_applications_to_pending_index_path, method: :post, multipart: true do |f| %>
  <%= f.govuk_error_summary %>

  <p class="govuk-body">
    Change the status of multiple applications to “pending” by providing their application IDs.
  </p>

  <p class="govuk-body">
    Create a file with a list of application IDs, one per row, and no header.
  </p>

  <p class="govuk-body">
    For example:
    <pre>
      2f581c80-b5bb-4404-bcaf-4044d9c0c674
      21fe9549-28f0-492c-ae3a-d52969b40536
      e7e8a629-f75f-4d98-b157-269136110099
    </pre>
  </p>

  <div class="govuk-form-group">
    <%= f.govuk_file_field :file,
      label: { text: "Upload file", tag: "h2", size: "m" },
      hint: { text: "Maximum file size is 256MB. File must be in CSV format." },
      javascript: true
    %>
  </div>

  <%= f.govuk_submit "Upload file" %>
<% end %>

<h2 class="govuk-heading-m">Uploaded files</h2>

<%=
  if @bulk_operations.empty?
    tag.p("No files have been uploaded", class: "govuk-body")
  else
    govuk_table do |table|
      table.with_head do |header|
        header.with_row do |row|
          row.with_cell(text: "Bulk operation")
          row.with_cell(text: "Number of rows")
          row.with_cell(text: "Date created")
          row.with_cell(text: "Date started")
          row.with_cell
        end
      end

      table.with_body do |body|
        @bulk_operations.each do |bulk_operation|
          body.with_row do |row|
            row.with_cell(text: govuk_link_to(bulk_operation.file.filename, npq_separation_admin_bulk_operations_revert_applications_to_pending_path(bulk_operation)))
            row.with_cell(text: bulk_operation.row_count)
            row.with_cell(text: bulk_operation.created_at.to_formatted_s(:govuk_short))
            row.with_cell(text: bulk_operation.started_at&.to_formatted_s(:govuk_short))
            row.with_cell do
              unless bulk_operation.started?
                form_with url: run_npq_separation_admin_bulk_operations_revert_applications_to_pending_path(bulk_operation) do |f|
                  tag.div(class: "govuk-button-group bulk-operation-action-button-group") do
                    f.govuk_submit "Revert applications to pending", class: "bulk-operation-action-button"
                  end
                end
              end
            end
          end
        end
      end
    end
  end
%>
<%= govuk_pagination(pagy: @pagy) %>
