<% content_for :title, "Registration for NPQs has closed temporarily" %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: :back
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">Registration for NPQs has closed temporarily</h1>

  <p class="govuk-body">Registration for NPQs starting in autumn will reopen soon. For more information you can read guidance on the
    <%= govuk_link_to "NPQ reforms", "https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms" %>.</p>

    <%= form_with model: @notification_form, url: registration_interest_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset(:notification_option,
                                         legend: {
                                           text: "Would you like to receive an email when registration reopens?",
                                           tag: "h2",
                                           size: "m"
                                         },
                                        ) do %>
        <%= f.govuk_radio_button :notification_option, "yes", label: { text: "Yes" }, link_errors: true do %>
             <%= f.govuk_text_field :email,
                                          label: { text: 'Email address', size: 's' },
                                          width: 'three-quarters' %>
        <% end %>
        <%= f.govuk_radio_button :notification_option, "no", label: { text: "No" } %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
