<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l"><%= title ||= t(".title") %></h1>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-text-align-right">
    <%= yield %>
  </div>
</div>

<%= render SubnavComponent.new do |component| %>
  <%= component.with_nav_item(path: admin_path) do %>
    <%= t(".dashboard") %>
  <% end %>

  <%= component.with_nav_item(path: admin_applications_path) do %>
    <%= t(".applications") %>
  <% end %>

  <%= component.with_nav_item(path: admin_users_path) do %>
    <%= t(".users") %>
  <% end %>

  <%= component.with_nav_item(path: admin_unsynced_applications_path) do %>
    <%= t(".unsynced_applications") %>
  <% end %>

  <%= component.with_nav_item(path: admin_unsynced_users_path) do %>
    <%= t(".unsynced_users") %>
  <% end %>

  <%= component.with_nav_item(path: admin_schools_path) do %>
    <%= t(".schools") %>
  <% end %>

  <%= component.with_nav_item(path: admin_webhook_messages_path) do %>
    <%= t(".webhook_messages") %>
  <% end %>

  <% if current_user.super_admin? %>
    <%= component.with_nav_item(path: admin_admins_path) do %>
      <%= t(".admins") %>
    <% end %>
  <% end %>

  <% if current_user.flipper_access? %>
    <%= component.with_nav_item(path: "/admin/feature_flags") do %>
      <%= t(".feature_flags") %>
    <% end %>
  <% end %>
<% end %>
