<%= render "admin/layout", title: "Admin Dashboard" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Last 7 Days</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%=
          render StatusBox.new(
            number: @last_seven_days.applications_created,
            label: "Total Applications",
          )
        %>
      </div>

      <div class="govuk-grid-column-one-third">
        <%=
          render StatusBox.new(
            number: @last_seven_days.get_an_identity_applications_created,
            label: "GAI Applications",
            percentage: @last_seven_days.get_an_identity_applications_created_percentage,
          )
        %>
      </div>

      <div class="govuk-grid-column-one-third">
        <%=
          render StatusBox.new(
            number: @last_seven_days.non_get_an_identity_applications_created,
            label: "Non-GAI Applications",
            percentage: @last_seven_days.non_get_an_identity_applications_created_percentage,
          )
        %>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">All Time</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%=
          render StatusBox.new(
            number: @all_time.applications_created,
            label: "Total Applications",
          )
        %>
      </div>

      <div class="govuk-grid-column-one-third">
        <%=
          render StatusBox.new(
            number: @all_time.get_an_identity_applications_created,
            label: "GAI Applications",
            percentage: @all_time.get_an_identity_applications_created_percentage
          )
        %>
      </div>

      <div class="govuk-grid-column-one-third">
        <%=
          render StatusBox.new(
            number: @all_time.non_get_an_identity_applications_created,
            label: "Non-GAI Applications",
            percentage: @all_time.non_get_an_identity_applications_created_percentage
          )
        %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%=
          render StatusBox.new(
            number: @all_time.users_count,
            label: "Total Users",
          )
        %>
      </div>

      <div class="govuk-grid-column-one-third">
        <%=
          render StatusBox.new(
            number: @all_time.get_an_identity_users_count,
            label: "Users Registered with GAI",
          )
        %>
      </div>
    </div>
  </div>
</div>
