<% content_for :side_navigation do %>
  <%=
    render NpqSeparation::SubNavigationComponent.new(
      request.path,
      structure:
        [
          NpqSeparation::NavigationStructure::Node.new(
            name: "Dashboards",
            href: npq_separation_admin_path,
            )
        ]
    )
  %>
<% end %>

<h1 class="govuk-heading-l">Courses dashboard</h1>

<div class="admin-search-box">
  <%= form_with method: :get do |f| %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <%=
          f.govuk_collection_select(
            :cohort_id,
            Cohort.where("start_year <= ?", Time.zone.now.year).order(start_year: :desc),
            :id,
            ->(cohort) { cohort.start_year.to_s },
            options: { selected: params[:cohort_id], include_blank: "All" },
            label: { text: "Search by cohort", size: "s" },
            )
        %>
      </div>
    </div>

    <%= f.govuk_submit "Search" %>
  <% end %>
</div>

<h2 class="govuk-heading-m">Number of applications received for courses</h2>

<%=
  govuk_table do |table|
    table.with_head do |header|
      header.with_row do |row|
        row.with_cell(text: "Course name")
        row.with_cell(text: 'Applications', numeric: true)
      end
    end

    table.with_body do |body|
      @rows.each do |bucket, count|
        body.with_row do |row|
          row.with_cell(text: bucket)
          row.with_cell(text: count, numeric: true)
        end
      end

      body.with_row(classes: "govuk-table__row--bold") do |row|
        row.with_cell(text: 'Total', header: true)
        row.with_cell(text: @rows.sum { |_,count| count }, numeric: true)
      end
    end
  end
%>
