<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Course details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registration submitted
        </dt>
        <dd class="govuk-summary-list__value">
          <%= application.created_at.to_date.to_fs(:govuk) %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider
        </dt>
        <dd class="govuk-summary-list__value">
          <%= application.lead_provider.name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if Feature.registration_closed?(current_user) %>
            <a class="govuk-link" href="<%= change_registration_closed_path %>">
              Change<span class="govuk-visually-hidden"> Course</span>
            </a>
          <% else %>
            <a class="govuk-link" href="<%= registration_wizard_show_url('change_your_course_or_provider'.dasherize) %>">
              Change<span class="govuk-visually-hidden"> Provider</span>
            </a>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          DfE scholarship funding
        </dt>
        <dd class="govuk-summary-list__value">
          <%= eligibility_tag(scholarship_funding_eligibility_status(application)) %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course start
        </dt>
        <dd class="govuk-summary-list__value">
          <%= application_cohort_description(application) %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Working in England
        </dt>
        <dd class="govuk-summary-list__value">
          <%= boolean_tag(application.teacher_catchment == 'england') %>
        </dd>
      </div>

      <% if application.work_setting.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work setting
          </dt>
          <dd class="govuk-summary-list__value">
            <%= I18n.t(application.work_setting, scope: "helpers.label.registration_wizard.work_setting_options") %>
          </dd>
        </div>
      <% end %>

      <% if application.long_employer_name_to_display.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Workplace
          </dt>
          <dd class="govuk-summary-list__value">
            <%= application.long_employer_name_to_display %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>
