<% if params[:success] == "true" %>
  <%= render GovukComponent::NotificationBannerComponent.new(
    success: true,
    title_text: "Success"
  ) do %>
    <h3 class="govuk-notification-banner__heading">
      Registration successfully submitted
    </h3>
    <p class="govuk-body">Check the details of your registration and see next steps below.</p>
  <% end %>
<% end %>
<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: account_path
  ) %>
<% end %>

<h1 class="govuk-heading-xl"><%= title_embedded_course_name(@application.course) %> registration details</h1>
<%= render "accounts/work_details", application: @application %>
<%= render "accounts/course_details", application: @application %>
<%= render "accounts/provider_details", application: @application %>
