<% page_heading = "Your #{localise_course_name(@application.course)} registration" %>
<% content_for :title, page_heading %>
<% content_for :before_content do %>
  <% if current_user.applications.count > 1 %>
    <%= render GovukComponent::BackLinkComponent.new(
      text: "Back to your registrations",
      href: account_path
    ) %>
  <% end %>
<% end %>

<span class="govuk-caption-m">Submitted <%= @application.created_at.to_date.to_fs(:govuk) %></span>
<h1 class="govuk-heading-l"><%= page_heading %></h1>

<p class="govuk-body"><strong>Registration ID:</strong> <%= @application.ecf_id %></p>

<%= render "course_details", application: @application, cohort_option: Questionnaires::CourseStartDate::OPTIONS[@application.cohort.identifier] %>
<%= render "funding_details", application: @application %>
<%= render "your_progress", application: @application %>
<%= render "personal_details", application: @application %>
<%= render "next_steps", application: @application %>
