<% content_for :title, "Your registration details" %>
<% if params[:success] == "true" %>
  <%= render GovukComponent::NotificationBannerComponent.new(
    success: true,
    title_text: "Success"
  ) do %>
    <h3 class="govuk-notification-banner__heading">
      Registration successfully submitted
    </h3>
    <p class="govuk-body">Check the details of your registration and see next steps below.</p>
  <% end %>
<% end %>
<% content_for :before_content do %>
  <% if current_user.applications.count > 1 %>
    <%= render GovukComponent::BackLinkComponent.new(
      text: "Back to your registrations",
      href: account_path
    ) %>
  <% end %>
<% end %>

<span class="govuk-caption-m">Submitted <%= @application.created_at.to_date.to_fs(:govuk_short) %></span>
<% if current_user.applications.count > 1 %>
  <h1 class="govuk-heading-xl">Your <%= title_embedded_course_name(@application.course) %> registration</h1>
<% else %>
  <h1 class="govuk-heading-xl"><%= I18n.t("accounts.show.title") %></h1>
<% end %>
<% if @application.participant_outcome_state.blank?%>
  <div class="govuk-inset-text">
    If you need to change something about your NPQ, email <a class="govuk-link" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>.
  </div>
<% end %>
<%= render "accounts/course_details", application: @application %>
<%= render "accounts/funding_details", application: @application %>
<%= render "accounts/personal_details", application: @application %>
<%= render "accounts/work_details", application: @application %>


<% if Services::Feature.registration_enabled? %>
  <%= render partial: 'registration_wizard/shared/register_for_an_npq' %>
<% end %>
