<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <%
    ehco = Course.ehco.first
    ehco_course_name_string = localise_sentence_embedded_course_name(ehco)
    npqh = Course.npqh.first
    npqh_course_name_string = localise_sentence_embedded_course_name(npqh)
  %>

  <h1 class="govuk-heading-xl">You cannot register for <%= ehco_course_name_string %>.</h1>

  <p class="govuk-body">To be eligible for <%= ehco_course_name_string %> you need to do <%= npqh_course_name_string %>.</p>

  <p class="govuk-body">Go back if you want to <%= govuk_link_to("register for #{npqh_course_name_string}", registration_wizard_show_path(:choose_your_npq)) %>.</p>
<% end %>
