<% question = "Enter your or your employer's URN" %>
<% hint = "For example EY456789." %>

<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %><%= question %>
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <div class="npq-js-hidden">
        <%= f.govuk_text_field :institution_name,
                               width: "full",
                               label: { text: question, size: "xl", tag: "h1" },
                               hint: { text: hint } %>
      </div>

      <div class="npq-js-reveal">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <%= f.label :institution_identifier, question, class: "govuk-label govuk-label--xl", for: "private-childcare-provider-picker" %>
          </h1>

          <span class="govuk-hint" id="private-childcare-provider-picker-hint"><%= hint %></span>

          <%= f.text_field :institution_identifier, data: { location: @form.wizard.store["institution_location"] }, id: "private-childcare-provider-picker" %>
        </div>
      </div>
      <%= f.govuk_submit %>

    <% end %>
  </div>
</div>
