<% question = "What's the name of your workplace?" %>
<% hint = "Search for schools or 16 to 19 educational settings located in #{@form.wizard.store["institution_location"]}. If you work for a trust, enter one of their schools." %>
<% js_fallback_question = "Please choose from schools or 16 to 19 educational settings located in #{@form.wizard.store["institution_location"]}." %>

<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %><%= question %>
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <% if @form.display_no_javascript_fallback_form? %>
        <% if @form.possible_institutions.blank? %>
          <%= f.govuk_text_field :institution_name,
                                 width: "full",
                                 label: { text: question, size: "xl", tag: "h1" },
                                 hint: { text: hint } %>
        <% else %>
          <%= f.govuk_radio_buttons_fieldset(:institution_identifier, legend: { size: 'xl', text: js_fallback_question, tag: "h1" }) do %>
            <% @form.possible_institutions.each_with_index do |institution, count| %>
              <%= f.govuk_radio_button :institution_identifier,
                                       institution.identifier,
                                       label: { text: institution.name },
                                       hint: { text: institution.address_string },
                                       link_errors: count.zero? %>
            <% end %>
            <%= f.govuk_radio_divider %>
            <%= f.govuk_radio_button :institution_identifier, 'other', label: { text: "School or college not shown above" } do %>
              <%= f.govuk_text_field :institution_name, hint: { text: hint }, label: { hidden: true, text: question } %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <div class="npq-js-hidden">
          <%= f.govuk_text_field :institution_name,
                                 width: "full",
                                 label: { text: question, size: "xl", tag: "h1" },
                                 hint: { text: hint } %>
        </div>

        <div class="npq-js-reveal">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <%= f.label :institution_identifier, question, class: "govuk-label govuk-label--xl", for: "school-picker" %>
            </h1>

            <span class="govuk-hint" id="school-picker-hint"><%= hint %></span>

            <%= f.text_field :institution_identifier, data: { location: @form.wizard.store["institution_location"] }, id: "school-picker" %>
          </div>
        </div>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
