<% content_for :title do %>
  Your initial registration is complete
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render NpqPanel.new(
      title: {
        text: "You’ve registered for #{localise_sentence_embedded_course_name(@form.course)} with #{@form.lead_provider.name}"
      }
    ) %>

    <h2 class="govuk-heading-m">Apply through your provider</h2>

    <p class="govuk-body">You still need to apply for your NPQ through <%= @form.lead_provider.name %>.</p>

    <p class="govuk-body">They’ll contact you to outline the next steps, including how to apply.</p>

    <% if @form.display_npqh_information?  %>
      <% ehco_course = Course.ehco.first %>

      <h2 class="govuk-heading-m"><%= localise_course_name(ehco_course) %></h2>

      <p class="govuk-body">The <%= localise_course_name(ehco_course) %> is a package of structured face-to-face support for new headteachers.</p>

      <p class="govuk-body">You may be eligible for DfE scholarship funding if you are in the first 5 years of a headship and:</p>

      <ul class="govuk-list govuk-list--bullet">
        <% npqh_name = localise_sentence_embedded_course_name(Course.npqh.first) %>

        <li>have completed <%= npqh_name %></li>
        <li>are studying for <%= npqh_name %></li>
        <li>are about to start <%= npqh_name %></li>
      </ul>

      <p class="govuk-body">If eligible, your training provider will share further details with you.</p>

      <p class="govuk-body">
        <%= govuk_link_to "Read more about #{localise_sentence_embedded_course_name(ehco_course)}", @form.ehco_more_information_url %>
      </p>
    <% end %>
    
  </div>
</div>
