<% content_for :before_content do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<%= form_with model: @form, url: registration_wizard_update_path, scope: 'registration_wizard', method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">Confirm your contact details</h1>

  <p class="govuk-body">
    To confirm your details, we've sent a code to <%= session["registration_store"]["email"] %>
  </p>

  <%= f.govuk_email_field :confirmation_code,
    width: 20,
    label: { text: "Enter your code" } %>

  <%= f.govuk_submit %>
<% end %>

<h3 class="govuk-heading-s">
  Not received an email?
</h3>

<%= govuk_link_to 'Request another email', '' %>
