<% content_for :before_content do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<% if flash[:success] %>
  <%= render GovukComponent::NotificationBanner.new(title: 'Email sent',
                                                    success: true,
                                                   ) do |notification_banner|
    notification_banner.slot(:heading, text: flash[:success])
  end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">Confirm your code</h1>

      <%= f.govuk_text_field :confirmation_code,
        width: 10,
        label: { text: "Enter your code" } %>

      <p class="govuk-body">
        <%= govuk_link_to "I have not received an email", registration_wizard_show_path(step: "resend-code") %>
      </p>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
