<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %>What’s your email address?
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :email,
        label: { text: "What’s your email address?", tag: "h1", size: "xl" },
        hint: { text: "We’ll send you a code to confirm your email address." } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
