<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>

  <h1 class="govuk-heading-xl">We cannot find your details</h1>

  <p class="govuk-body">
    We cannot find a match with the details you’ve given:
  </p>

  <%= render GovukComponent::SummaryListComponent.new do |summary_list| %>
    <% summary_list.with_row do |row|
         row.with_key { "Teacher reference number (TRN)" }
         row.with_value { @wizard.query_store.trn } %>
    <% end %>

    <% summary_list.with_row do |row|
         row.with_key { "Full name" }
         row.with_value { @wizard.store["full_name"] } %>
    <% end %>

    <% summary_list.with_row do |row|
         row.with_key { "Date of birth" }
         row.with_value { @wizard.query_store.formatted_date_of_birth } %>
    <% end %>

    <% if @wizard.store["national_insurance_number"].present? %>
      <% summary_list.with_row do |row|
           row.with_key { "National Insurance number" }
           row.with_value { @wizard.store["national_insurance_number"] } %>
      <% end %>
    <% end %>
  <% end %>

  <p class="govuk-body">
    This could be because:
  </p>

  <ul class="govuk-list govuk-list--bullet">
  <% if @wizard.store["national_insurance_number"].present? %>
    <li>you’ve abbreviated your first name, for example ‘Rob’ for ‘Robert’</li>
    <li>your surname differs from Teaching Regulation Agency records</li>
    <li>you mistyped or entered incorrect details</li>
  <% else %>
    <li>you have not entered your National Insurance number</li>
    <li>you’ve abbreviated your first name, for example ‘Rob’ for ‘Robert’</li>
    <li>your surname differs from Teaching Regulation Agency records</li>
    <li>you mistyped or entered incorrect details</li>
  <% end %>
  </ul>

  <h2 class="govuk-heading-m">Next steps</h2>

  <p class="govuk-body">
    You can:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>check your TRN is correct using the <%= govuk_link_to("Find a lost TRN", "https://find-a-lost-trn.education.gov.uk/start") %> service</li>
    <li>use the <%= govuk_link_to("Get a TRN", "https://authorise-access-to-a-teaching-record.education.gov.uk/request-trn") %> service if you’ve never received a TRN</li>
  </ul>

  <p class="govuk-body">
    You can complete registration without validating your TRN, and our support team will manually match your details.
  </p>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      If your TRN is not validated, your funded place cannot be confirmed and your NPQ application may be rejected by your provider.
    </strong>
  </div>

  <div class="govuk-button-group">
    <%= govuk_button_link_to "Try again", registration_wizard_show_path(@wizard.previous_step_path) %>
    <%= govuk_button_link_to "Continue registration", registration_wizard_show_path(@wizard.next_step_path), class: "govuk-button--secondary" %>
  </div>

<% end %>
