<% content_for :before_content do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">Find your school</h1>

      <p class="govuk-body">We need this information to check if you can access Department for Education funding.</p>

      <%= render GovukComponent::InsetText.new(text: "You can only select schools in England, Guernsey, Jersey or the Isle of Man. If your school is outside these locations, check with your training provider.") %>

      <%= f.govuk_text_field :school_location,
                             width: "three-quarters",
                             hint: { text: "Enter town, city or postcode" },
                             label: { text: "School location" } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
