<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %><%= t('helpers.legend.registration_wizard.kind_of_nursery') %>
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(:kind_of_nursery,
                                         legend: {
                                           tag: "h1",
                                           size: "xl"
                                         }
                                        ) do %>
        <% Forms::KindOfNursery::KIND_OF_NURSERY_OPTIONS.each_with_index do |nursery_kind, index| %>
          <%=
            f.govuk_radio_button(
              :kind_of_nursery,
              nursery_kind,
              link_errors: index == 0
            )
          %>
        <% end %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
