<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %>Which early years setting do you work in?
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(:nursery_type,
                                         legend: {
                                           tag: "h1",
                                           size: "xl"
                                         }
                                        ) do %>
        <%= f.govuk_radio_button(:nursery_type, "local_authority_maintained_nursery", link_errors: true) %>
        <%= f.govuk_radio_button(:nursery_type, "preschool_class_as_part_of_school") %>
        <%= f.govuk_radio_button(:nursery_type, "private_nursery") %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button(:nursery_type, "another_early_years_setting") %>

      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
