<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %>If you did not get an email
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">If you did not get an email</h1>

      <ol class="govuk-list govuk-list--number">
        <li>Check your spam or junk folder</li>
        <li>Try entering your email address again, making sure it does not include any spaces</li>
      </ol>

      <%= f.govuk_email_field :email, width: 'two-thirds', label: { text: 'Email address' } %>

      <%= f.govuk_submit do %>
        <%= govuk_link_to "Cancel", registration_wizard_show_path(@wizard.previous_step_path), class: "govuk-link--no-visited-state" %>
      <% end %>


      <p class="govuk-body">
        If you still need help, contact us:<br>
        <%= mail_to 'continuing-professional-development@digital.education.gov.uk', 'continuing-professional-development@digital.education.gov.uk', class: 'govuk-link' %>
      </p>
    <% end %>
  </div>
</div>
