<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register for a national professional qualification (NPQ)</h1>

    <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>register for an NPQ or <%= localise_sentence_embedded_course_name(Course.ehco.first) %></li>
        <li>view a previous registration</li>
      </ul>

    <p class="govuk-body">You also need to apply separately with your training provider. They’ll contact you once you’ve registered.</p>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">You need to know:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>which NPQ you want to do</li>
      <li>who your provider is</li>
    </ul>

    <p class="govuk-body">If you have not chosen an NPQ or provider yet, <%= govuk_link_to("learn about NPQs", "https://www.gov.uk/government/publications/national-professional-qualifications-npqs") %>.</p>

    <p class="govuk-body">If you work in early years or childcare, <%= govuk_link_to("check if your workplace is registered with Ofsted", "https://reports.ofsted.gov.uk/childcare") %> and get their Ofsted unique reference number (URN) if they have one.</p>

    <p class="govuk-body"><%= govuk_link_to("Check if you have a teacher reference number (TRN)", "https://find-a-lost-trn.education.gov.uk/start") %>. If you’re not a teacher you can still register, but you’ll need to request a TRN. Email <%= govuk_link_to('qts.enquiries@education.gov.uk', 'mailto:qts.enquiries@education.gov.uk') %> to request a TRN.
    </p>

    <%=
      render(
        'shared/get_an_identity/redirect_button',
        button_text: "Start now"
      )
    %>

 
  </div>
</div>
