<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register for a national professional qualification (NPQ)</h1>

    <p class="govuk-body">Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>register for an NPQ or <%= localise_sentence_embedded_course_name(Course.ehco) %></li>
      <li>check your registration details, if you already registered</li>
      <li>check your course outcome, if you have completed your course</li>
    </ul>

    <h2 class="govuk-heading-m">What happens when you register</h2>

    <p class="govuk-body">
      When you register with the Department for Education (DfE) we:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check if you’re eligible for scholarship funding</li>
      <li>send your registration details to your chosen training provider</li>
    </ul>

    <p class="govuk-body">
      Your provider will then email you an application form to complete.
    </p>

    <%= govuk_inset_text do %>
      <h3 class="govuk-heading-s">Being eligible for funding does not guarantee a funded place</h3>
      Your training provider must confirm two things after you apply with them:
      <ul class="govuk-list govuk-list--bullet">
        <li>a funded place is available</li>
        <li>you meet their suitability requirements for the course</li>
      </ul>
    <% end %>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">
      You’ll need:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        to know which
        <%= govuk_link_to("NPQ course", "https://www.gov.uk/guidance/national-professional-qualification-npq-courses") %>
        you want to take and who your provider will be
      </li>
      <li>the address and postcode of your workplace setting</li>
      <li>a teacher reference number (TRN) – even if you’re not a teacher</li>
      <li>your provider’s Ofsted URN if you work in early years or childcare</li>
      <li>a DfE Identity account (you’ll be prompted to sign in or create one)</li>
    </ul>

    <p class="govuk-body">
      Your TRN can be found on your payslip, teaching contract or pension documents. If you do not know your TRN, you can:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= govuk_link_to("find a lost TRN", "https://find-a-lost-trn.education.gov.uk/start", new_tab: true) %></li>
      <li><%= govuk_link_to("get a TRN", "https://authorise-access-to-a-teaching-record.education.gov.uk/request-trn?AccessToken=SqjgaHbrdofsSL5z", new_tab: true) %></li>
    </ul>

    <p class="govuk-body">
      By continuing, you agree to our <%= govuk_link_to("privacy notice", PRIVACY_NOTICE) %>.
    </p>

    <% if Feature.registration_enabled? %>
      <%=
        render(
          'shared/get_an_identity/redirect_button',
          button_text: "Start now"
        )
      %>
    <% end %>

  </div>
</div>
