<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register for a national professional qualification (NPQ)</h1>

    <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>register for an NPQ or <%= localise_sentence_embedded_course_name(Course.ehco) %> starting in February 2024</li>
        <li>check your registration details, if you already registered</li>
        <li>check your course outcome, if you have completed your course</li>
      </ul>

    <p class="govuk-body">You also need to apply separately with your training provider. They’ll send you an application form by email once you’ve registered.</p>

    <h2 class="govuk-heading-m">Before you start</h2>


    <p class="govuk-body">
      You need to know which NPQ you want to do and who your provider is. If you have not chosen
      yet, <%= govuk_link_to("find out about NPQ courses", "https://www.gov.uk/guidance/national-professional-qualification-npq-courses") %>.
      
    </p>

    <p class="govuk-body">
      You also need a teacher reference number (TRN) to register for an NPQ, even if you’re not a
      teacher. <%= govuk_link_to("Learn about TRNs", "https://www.gov.uk/guidance/teacher-reference-number-trn") %>
      including how to request one if you do not have one.
    </p>

    <p class="govuk-body">
      If you work in early years or
      childcare, <%= govuk_link_to("check if your workplace is registered with Ofsted", "https://reports.ofsted.gov.uk/childcare") %>
      and get their Ofsted unique reference number (URN) if they have one.
    </p>

    <p class="govuk-body">
      Before registering for an NPQ you’ll be asked to create a DfE Identity account or sign in to your account.
    </p>

    <% if Feature.registration_enabled? %>
      <%=
        render(
          'shared/get_an_identity/redirect_button',
          button_text: "Start now"
        )
      %>
    <% end %>

  </div>
</div>
