<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %><%= @form.title %>
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl"><%= @form.title %></h1>

      <p class="govuk-body">You may not have a teacher reference number (TRN) if you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>qualified outside England or overseas</li>
        <li>are not a qualified teacher</li>
        <li>are working in further education</li>
      </ul>

      <p class="govuk-body">The TRN has previously been known as a QTS, GTC, DfE, DfES or DCSF number.</p>

      <p class="govuk-body">If you think you have a TRN, it can usually be found on a teacher’s payslip, pension documentation or teacher training records.</p>

      <%= f.govuk_radio_buttons_fieldset(:trn_knowledege, legend: { text: "Do you have a teacher reference number (TRN)"} ) do %>
        <%= f.govuk_radio_button :trn_knowledge, "yes", label: { text: "Yes, I know my TRN" }, link_errors: true %>
        <%= f.govuk_radio_button :trn_knowledge, "no-dont-know", label: { text: "Yes, but I need to be reminded what it is" } %>
        <%= f.govuk_radio_button :trn_knowledge, "no-dont-have", label: { text: "No, I need to get a TRN" } %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
