<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %>Teacher reference number
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">Teacher reference number</h1>

      <p class="govuk-body">
        Your teacher reference number (TRN) is used to check you're eligible to study for a national professional qualification (NPQ).
      </p>

      <p class="govuk-body">
        If you don’t know what your teacher reference number (TRN) is, this can usually be found on your payslip, teachers’ pension documentation or teacher training records.
      </p>

      <p class="govuk-body">
        The TRN has previously been known as a QTS, GTC, DfE, DfES or DCSF number.
      </p>

      <p class="govuk-body">
        You may not have a TRN if you are working in further education or qualified outside England or overseas.
      </p>

      <%= f.govuk_radio_buttons_fieldset(:trn_knowledege, legend: { text: "Do you know your teacher reference number (TRN)?"} ) do %>
        <%= f.govuk_radio_button :trn_knowledge, "yes", label: { text: "Yes, I know my TRN" }, link_errors: true %>
        <%= f.govuk_radio_button :trn_knowledge, "no-dont-know", label: { text: "No, I don’t know my TRN" } %>
        <%= f.govuk_radio_button :trn_knowledge, "no-dont-have", label: { text: "I don’t have a TRN" } %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
