<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %><%= @form.title %>
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div
    <% if Services::Feature.get_an_identity_integration_active_for?(current_user) %>
      data-controller="get-an-identity-redirect-button"
    <% end %>
    class="govuk-grid-column-two-thirds">
    <%=
      form_with(
        model: @form,
        url: registration_wizard_form_url(@form),
        scope: 'registration_wizard',
        method: :patch,
        data: {
          "get-an-identity-redirect-button-target": "questionForm"
        }
      ) do |f|
    %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl"><%= @form.title %></h1>

      <% if @form.assumed_to_have_trn? %>
        <p class="govuk-body">Your teacher reference number (TRN) is used to check you’re eligible to study for an NPQ.</p>

        <p class="govuk-body">You can use the <%= govuk_link_to 'Find a lost TRN service (opens in a new tab)', 'https://find-a-lost-trn.education.gov.uk/start', target: :_blank %> if you do not know your TRN, or want to check if you have one.</p>

        <p class="govuk-body">You may not have a TRN if you are working in early years, further education or qualified as a teacher outside England.</p>
      <% else %>
        <p class="govuk-body">You’ll need a teacher reference number (TRN) to register for an NPQ, even if you are not a teacher. We use your TRN to check you’re eligible to study for an NPQ.</p>

        <p class="govuk-body">You may not have a TRN if you are working in early years, further education or qualified as a teacher outside England.</p>

        <p class="govuk-body">You can use the <%= govuk_link_to 'Find a lost TRN service (opens in a new tab)', 'https://find-a-lost-trn.education.gov.uk/start', target: :_blank %> if you do not know your TRN, or want to check if you have one.</p>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset(:trn_knowledege, legend: { text: "Do you have a TRN?" } ) do %>
        <% @form.options.each do |struct| %>
          <%=
            f.govuk_radio_button(
              :trn_knowledge,
              struct.value,
              label: { text: struct.text },
              hint: { text: struct.hint },
              link_errors: struct.link_errors,
              data: {
                action: "get-an-identity-redirect-button#onAnswerChange",
                "get-an-identity-redirect-button-target": "answerRadio" + struct.value.camelize,
              }
            )
          %>
        <% end %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>

    <% if Services::Feature.get_an_identity_integration_active_for?(current_user) %>
      <%= render('shared/get_an_identity/redirect_button', hidden: true, button_text: "Continue to Get an Identity") %>
    <% end %>
  </div>
</div>
