<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %>Updated name
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">Updated name</h1>

      <p class="govuk-body">If you’ve changed your name and want to use it for work, and any NPQ certificates gained, it must also be changed on the Teaching Regulation Agency records.</p>

      <%= f.govuk_radio_buttons_fieldset(:updated_name, legend: { text: "Have you updated your name on the Teaching Regulation Agency records?" } ) do %>
        <%= f.govuk_radio_button :updated_name, "yes", label: { text: "Yes, I’ve updated my name" }, link_errors: true %>
        <%= f.govuk_radio_button :updated_name, "no", label: { text: "No, I have not updated my name" } %>
        <%= f.govuk_radio_button :updated_name, "not-sure", label: { text: "Not sure" } %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
