<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Users who've requested emails about registration reopening (<%= @all_users.count %>)</h1>

    <%= govuk_button_link_to("Export all with SENCO interest", npq_separation_admin_reopening_email_subscriptions_path(senco_only: true, format: :csv), secondary: true) %>
    <%= govuk_button_link_to("Export all", npq_separation_admin_reopening_email_subscriptions_path(format: :csv)) %>

    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Email address</th>
        <th scope="col" class="govuk-table__header">Interested in SENCO?</th>
        <th scope="col" class="govuk-table__header">Date Added</th>
        <th scope="col" class="govuk-table__header">Unsubscribe</th>
      </tr>
      </thead>

      <tbody class="govuk-table__body">
      <% @users.each do |user| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= user.email %></td>
          <td class="govuk-table__cell">
            <%= user.senco_email_updates_status? ? "Yes" : "No" %>
          </td>
          <td class="govuk-table__cell">
            <%= user.created_at.to_date.to_fs(:govuk_short) %>
          </td>
          <td class="govuk-table__cell">
            <%= govuk_link_to "Unsubscribe", unsubscribe_npq_separation_admin_reopening_email_subscription_path(user.id) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%== govuk_pagination(pagy: @pagy) %>
  </div>
</div>
