<h1 class="govuk-heading-l">Registrations in review</h1>

<div class="admin-search-box">
  <h2 class="govuk-heading-m">Search for registrations in review</h2>

  <%= form_with method: :get do |f| %>
    <%= f.govuk_text_field(
        :q,
        value: params[:q],
        label: { text: "Enter the participant ID, name, email address, employer name, or application ID", size: "s" },
      )
    %>

    <%=
      f.govuk_select(
        :employment_type,
        options_for_select(employment_types.map { [_1.humanize, _1] }.prepend(nil), params[:employment_type]),
        label: { text: "Employment type", size: "s" }
      )
    %>

    <%=
      f.govuk_select(
        :referred_by_return_to_teaching_adviser,
        options_for_select([
          ['', nil],
          ['Yes', 'yes'],
          ['No', 'no'],
        ], params[:referred_by_return_to_teaching_adviser]),
        label: { text: "Referred by return to teaching adviser", size: "s" },
      )
    %>

    <%=
      f.govuk_collection_select(
        :cohort_id,
        Cohort.all,
        :id,
        -> { format_cohort _1 },
        options: { selected: params[:cohort_id], include_blank: true },
        label: { text: "Cohort", size: "s" }
      )
    %>

    <%= f.govuk_submit "Search" %>
  <% end %>
</div>

<%=
  govuk_table do |table|
    table.with_head do |header|
      header.with_row do |row|
        row.with_cell(text: "Participant")
        row.with_cell(text: "Eligible for funding")
        row.with_cell(text: "Provider approval status")
        row.with_cell(text: "Notes", classes: 'govuk-!-width-one-third')
        row.with_cell(text: "Registration submitted date")
      end
    end

    table.with_body do |body|
      @applications.each do |application|
        body.with_row do |row|
          row.with_cell do
            concat govuk_link_to(application.user.full_name, npq_separation_admin_user_path(application.user))
            concat tag.p(application.employment_type.try(:humanize), class: 'govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1')
            concat tag.p(application.employer_name_to_display, class: 'govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-1')
          end
          row.with_cell(text: boolean_red_green_tag(application.eligible_for_funding))
          row.with_cell(text: application.lead_provider_approval_status.humanize)
          row.with_cell(text: application.notes)
          row.with_cell(text: application.created_at.to_formatted_s(:govuk_short))
        end
      end
    end
  end
%>

<%= govuk_pagination(pagy: @pagy) %>
