<%= render "npq_separation/admin/applications/application_side_navigation" %>

<span class="govuk-caption-m">
  <%= @application.user.full_name %>,
  <%= @application.course.name %>,
  <%= @application.created_at.to_date.to_fs(:govuk_short) %>
</span>

<h1 class="govuk-heading-l">Declaration details</h1>

<% if @declarations.none? %>
  <p class="govuk-body">No declarations.</p>
<% end %>

<%= render partial: 'declaration', collection: @declarations %>
