<%= render "npq_separation/admin/applications/application_side_navigation" %>

<span class="govuk-caption-m">
  <%= @application.user.full_name %>,
  <%= @application.course.name %>,
  <%= @application.created_at.to_date.to_fs(:govuk_short) %>
</span>

<h1 class="govuk-heading-l">Course outcome</h1>

<% all_outcomes = @application.declarations.flat_map(&:participant_outcomes) %>

<% if @outcomes.any? %>
  <%= render NpqSeparation::Admin::OutcomesTableComponent.new(@outcomes) %>
<% end %>
