<%= govuk_back_link href: npq_separation_admin_schools_path %>

<h1 class="govuk-heading-l">Eligibility lists</h1>

<%= govuk_tabs do |tabs|

  tabs.with_tab(label: "PP50 Schools") do %>
  <%= render partial: "list", locals: { eligibility_list_type: "pp50_school",
                                        identifier_name: "URN",
                                        fragment: "pp50-schools",
                                        legacy_count: @pp50_schools_legacy_count,
                                        eligibility_last_updated_at: @pp50_schools_last_updated_at } %>
  <% end %>

  <%= tabs.with_tab(label: "PP50 FE") do %>
    <%= render partial: "list", locals: { eligibility_list_type: "pp50_further_education",
                                          identifier_name: "UKPRN",
                                          fragment: "pp50-fe",
                                          legacy_count: @pp50_fe_legacy_count,
                                          eligibility_last_updated_at: @pp50_fe_last_updated_at } %>
  <% end %>

  <%= tabs.with_tab(label: "Childminders") do %>
    <%= render partial: "list", locals: { eligibility_list_type: "childminder",
                                          identifier_name: "URN",
                                          fragment: "childminders",
                                          legacy_count: @childminders_legacy_count,
                                          eligibility_last_updated_at: @childminders_last_updated_at } %>
  <% end %>

  <%= tabs.with_tab(label: "Disadvantaged EY") do %>
    <%= render partial: "list", locals: { eligibility_list_type: "disadvantaged_early_years_school",
                                          identifier_name: "URN",
                                          fragment: "disadvantaged-ey",
                                          legacy_count: @ey_schools_legacy_count,
                                          eligibility_last_updated_at: @ey_schools_last_updated_at } %>
  <% end %>

  <%= tabs.with_tab(label: "LA Nurseries") do %>
    <%= render partial: "list", locals: { eligibility_list_type: "local_authority_nursery",
                                          identifier_name: "URN",
                                          fragment: "la-nurseries",
                                          legacy_count: @la_nurseries_legacy_count,
                                          eligibility_last_updated_at: @la_nurseries_last_updated_at } %>
  <% end %>

  <%= tabs.with_tab(label: "RISE") do %>
    <%= render partial: "list", locals: { eligibility_list_type: "rise_school",
                                          identifier_name: "URN",
                                          fragment: "rise",
                                          legacy_count: @rise_schools_legacy_count,
                                          eligibility_last_updated_at: @rise_schools_last_updated_at } %>
  <% end %>

<% end %>
