<%= govuk_back_link href: npq_separation_admin_schools_path %>

<h1 class="govuk-heading-l">Eligibility lists</h1>

<%= govuk_tabs do |tabs|

  tabs.with_tab(label: "PP50 Schools") do %>
  <%= render partial: "list", locals: { eligibility_list_type: EligibilityList::Pp50School,
                                        bulk_operation_class: BulkOperation::UploadEligibilityList::Pp50School,
                                        fragment: "pp50-schools" } %>
  <% end %>

  <%= tabs.with_tab(label: "PP50 FE") do %>
    <%= render partial: "list", locals: { eligibility_list_type: EligibilityList::Pp50FurtherEducation,
                                          bulk_operation_class: BulkOperation::UploadEligibilityList::Pp50FurtherEducation,
                                          fragment: "pp50-fe" } %>
  <% end %>

  <%= tabs.with_tab(label: "Childminders") do %>
    <%= render partial: "list", locals: { eligibility_list_type: EligibilityList::Childminder,
                                          bulk_operation_class: BulkOperation::UploadEligibilityList::Childminder,
                                          fragment: "childminders",
                                          no_longer_used: true } %>
  <% end %>

  <%= tabs.with_tab(label: "Disadvantaged EY") do %>
    <%= render partial: "list", locals: { eligibility_list_type: EligibilityList::DisadvantagedEarlyYearsSchool,
                                          bulk_operation_class: BulkOperation::UploadEligibilityList::DisadvantagedEarlyYearsSchool,
                                          fragment: "disadvantaged-ey",
                                          csv_note: "Ofsted URN is optional - if it doesn't exist, the Disadvantaged EY School URN will be used.",
                                          no_longer_used: true } %>
  <% end %>

  <%= tabs.with_tab(label: "LA Nurseries") do %>
    <%= render partial: "list", locals: { eligibility_list_type: EligibilityList::LocalAuthorityNursery,
                                          bulk_operation_class: BulkOperation::UploadEligibilityList::LocalAuthorityNursery,
                                          fragment: "la-nurseries" } %>
  <% end %>

  <%= tabs.with_tab(label: "RISE") do %>
    <%= render partial: "list", locals: { eligibility_list_type: EligibilityList::RiseSchool,
                                          bulk_operation_class: BulkOperation::UploadEligibilityList::RiseSchool,
                                          fragment: "rise" } %>
  <% end %>

<% end %>
