<section class="govuk-!-margin-bottom-5 govuk-!-padding-3 app-statement-block">
  <h2 class="govuk-heading-m"><%= course_name %></h2>

  <header class="app-statement-block__declaration-types">
    <% counts.each do |label, count| %>
      <span class="govuk-body-s">
        <%= label %>
        <br>
        <%= count %>
      </span>
    <% end %>
  </header>

  <span class="govuk-label--s govuk-visually-hidden">Payment details</span>

  <%=
    govuk_table(classes: 'govuk-!-font-size-16') do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: t(".payment_type"))
          row.with_cell(text: t(".participants"), numeric: true)
          row.with_cell(text: t(".payment_per_participant"), numeric: true)
          row.with_cell(text: t(".total"), numeric: true)
        end
      end

      table.with_body do |body|
        line_items.each do |line_item|
          body.with_row do |row|
            row.with_cell(text: line_item[0], header: true)
            row.with_cell(text: line_item[1], numeric: true)
            row.with_cell(text: number_to_currency(line_item[2]), numeric: true)
            row.with_cell(text: number_to_currency(line_item[3]), numeric: true)
          end
        end
      end
    end
  %>

  <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-table__header--numeric">
    <%= t(".course_total") %>
    <br>
    <%= number_to_currency course_total %>
  </div>
</section>
