<%= govuk_back_link href: npq_separation_admin_cohort_path(@schedule.cohort) %>

<h1 class="govuk-heading-l">Schedule</h1>

<%=
  govuk_summary_list do |sl|
    sl.with_row do |row|
      row.with_key(text: "Cohort")
      row.with_value(text: @schedule.cohort.description)
    end

    sl.with_row do |row|
      row.with_key(text: "Name")
      row.with_value(text: @schedule.name)
    end

    sl.with_row do |row|
      row.with_key(text: "Identifier")
      row.with_value(text: @schedule.identifier)
    end

    sl.with_row do |row|
      row.with_key(text: "Course group")
      row.with_value(text: @schedule.course_group.name)
    end

    sl.with_row do |row|
      row.with_key(text: "Applies from")
      row.with_value(text: @schedule.applies_from.to_date.to_fs(:govuk))
    end

    sl.with_row do |row|
      row.with_key(text: "Applies to")
      row.with_value(text: @schedule.applies_to.to_date.to_fs(:govuk))
    end

    sl.with_row do |row|
      row.with_key(text: "Declaration types")
      row.with_value(text: @schedule.allowed_declaration_types.join(", "))
    end

    sl.with_row do |row|
      row.with_key(text: "Milestones")
      row.with_value(text: @schedule.milestones.in_declaration_type_order.pluck(:declaration_type).join(", "))
    end
  end
%>

<% if current_admin.super_admin? %>
  <%= govuk_button_link_to "Edit schedule details", edit_npq_separation_admin_cohort_schedule_path(@schedule.cohort, @schedule) %>
  <%= govuk_button_link_to "Delete schedule", npq_separation_admin_cohort_schedule_path(@schedule.cohort, @schedule), method: :delete, warning: true %>
<% end %>

<h2 class="govuk-heading-m">Milestones</h1>

<%=
  govuk_table do |table|
    table.with_head do |header|
      header.with_row do |row|
        row.with_cell(text: "Declaration type")
        row.with_cell(text: "Statement date")
        row.with_cell(text: "")
        row.with_cell(text: "")
      end
    end

    table.with_body do |body|
      @schedule.milestones.in_declaration_type_order.includes(:statements).each do |milestone|
        body.with_row do |row|
          row.with_cell(text: milestone.declaration_type)
          row.with_cell(text: milestone.statement_date&.to_fs(:govuk_approx) || "-")
          row.with_cell do
            if current_admin.super_admin?
              govuk_link_to("Change statement date",
                edit_npq_separation_admin_cohort_schedule_milestone_path(
                  @schedule.cohort,
                  @schedule,
                  milestone
                ))
            end
          end
          row.with_cell do
            if current_admin.super_admin?
              govuk_link_to(
                "Delete milestone",
                npq_separation_admin_cohort_schedule_milestone_path(@schedule.cohort, @schedule, milestone),
                method: :delete,
                warning: true,
              )
            end
          end
        end
      end
    end
  end
%>

<% if current_admin.super_admin? %>
  <%= govuk_button_link_to "Add milestone", new_npq_separation_admin_cohort_schedule_milestone_path(@schedule.cohort, @schedule) %>
<% end %>
