<h1 class="govuk-heading-l">Delete cohort <%= format_cohort @cohort %></h1>

<p class="govuk-body">Are you sure you want to delete this cohort and <%= pluralize @cohort.schedules.count, 'associated schedule' %>? There is no way to undo this action.</p>

<%= form_with model: [:npq_separation, :admin, @cohort], method: 'delete' do |f| %>
  <%= hidden_field_tag :confirm, 1 %>
  <%= f.govuk_submit 'Confirm delete cohort', warning: true %>
  <%= govuk_button_link_to('Cancel', npq_separation_admin_cohort_path(@cohort), secondary: true) %>
<% end %>
