<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %>Check your email
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: sign_in_path
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your email</h1>

    <p class="govuk-body">If you have an account, we have sent you a link to sign in.</p>

    <%= form_with model: @form, url: session_wizard_update_path, scope: "session_wizard", method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :code,
        width: 10,
        label: { text: "Enter your code" } %>

      <%= f.govuk_submit "Sign in" %>
    <% end %>

    <h2 class="govuk-heading-m">If you don’t get an email to sign in:</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>make sure you have <%= govuk_link_to "created an account", root_path %></li>
      <li>check your spam or junk folder</li>
      <li>contact us: <%= govuk_mail_to "continuing-professional-development@digital.education.gov.uk", "continuing-professional-development@digital.education.gov.uk" %></li>
    </ul>
  </div>
</div>
