<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "admin/layout", title: "Users" %>

    <div class="admin-search-box">
      <%= form_with method: :get do |f| %>
        <%= f.govuk_text_field(
            :q,
            value: params[:q],
            label: { text: "Search records", size: "s" },
            hint: { text: 'Enter a participant, declaration or application ID', size: "m"}
          )
        %>

        <%= f.govuk_submit "Search" %>
      <% end %>
    </div>

    <%=
      govuk_table do |table|
        table.head do |head|
          head.row do |row|
            row.cell(header: true, text: "Name")
            row.cell(header: true, text: "Email")
            row.cell(header: true, text: "In GAI Pilot?")
            row.cell(header: true, text: "Registered On")
            row.cell(header: true, text: "")
          end
        end

        table.body do |body|
          @users.each do |user|
            body.row do |row|
              row.cell(text: user.full_name.presence || "-")
              row.cell(text: govuk_link_to(user.email.presence || "No Email Found", admin_user_path(user)))
              row.cell(text: boolean_red_green_tag(user.in_get_an_identity_pilot?))
              row.cell(text: user.created_at.to_date.to_formatted_s(:govuk))
              row.cell(text: govuk_link_to("View", admin_user_path(user)))
            end
          end
        end
      end
    %>

    <%== pagy_govuk_nav(@pagy) %>
  </div>
</div>
