<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %> Funding eligibility
<% end %>

<h1 class="govuk-heading-xl">Funding eligibility</h1>

<p class="govuk-body">
  You've already been allocated scholarship funding for the <%= localise_sentence_embedded_course_name(course) %> with <%= provider_name %>.
  <br>
  If you need to change something about your NPQ or provider, email <%= govuk_mail_to "continuing-professional-development@digital.education.gov.uk", "continuing-professional-development@digital.education.gov.uk" %>.

  <strong>\If you're taking the course again</strong>

  Contine to register.

  You would need to pay for the <%= localise_sentence_embedded_course_name(course) %> if you were previously funded but you failed or withdrew from the course.
