<% content_for(:head) do %>
  <style type="text/css"><%= Diffy::CSS %></style>
<% end %>

<%= govuk_back_link(href: url_for(:back)) %>

<span class="govuk-caption-xl"><%= @comparison.lead_provider_name %></span>
<h1 class="govuk-heading-xl"><%= @comparison.description %></h1>

<% if @multiple_results %>
  <%= render(partial: "multiple_comparisons_summary", locals: { comparisons: @matching_comparisons }) %>
<% end %>

<% if @matching_comparisons.any?(&:needs_review?) %>
  <% unless @multiple_results %>
    <%= render(partial: "single_comparison_summary", locals: { comparison: @comparison }) %>
    <%= render(partial: "response_body_diff", locals: { response_body_diff: @comparison.response_body_diff }) %>
  <% else %>
    <%= govuk_accordion do |accordion|
      @matching_comparisons.select(&:needs_review?).each do |comparison|
        accordion.with_section(heading_text: response_comparison_page_summary(comparison), expanded: comparison.needs_review?) do
          render(partial: "response_body_diff", locals: { response_body_diff: comparison.response_body_diff })
        end
      end
    end %>
  <% end %>
<% end %>
