<h1 class="govuk-heading-xl"><%= @application.user.full_name %></h1>

<%= form_with model: @application, url: npq_separation_admin_applications_notes_path(@application) do |f| %>
  <%= f.govuk_error_summary %>

  <%= render NpqSeparation::Admin::ApplicationNotesInputComponent.new(form: f) %>

  <%= hidden_field_tag :in_review_application, @in_review_application %>

  <div class="govuk-button-group">
    <%= f.govuk_submit(@application.notes.present? ? "Edit note" : "Add note") %>
    <%= govuk_link_to "Cancel", @return_path %>
  </div>
<% end %>
