<h1 class="govuk-heading-xl"><%= @application.user.full_name %></h1>

<%= form_with model: @application, url: npq_separation_admin_applications_notes_path(@application) do |f| %>
  <%= f.govuk_error_summary %>

  <%=
    f.govuk_text_area :notes,
                      label: { text: 'Notes about changes to this registration', size: "m" },
                      hint: { text: "Please add the date and your initials when adding a note, and add above any existing notes. Notes are for internal use only." },
                      max_chars: 1_000
  %>

  <div class="govuk-button-group">
    <%= f.govuk_submit "Update notes" %>
    <%= govuk_link_to "Cancel", npq_separation_admin_application_review_path(@application) %>
  </div>
<% end %>
