<h1 class="govuk-heading-xl"><%= @application.user.full_name %></h1>

<%= form_with model: @application, url: npq_separation_admin_applications_notes_path(@application) do |f| %>
  <%= f.govuk_error_summary %>

  <%=
    f.govuk_text_area :notes,
                      label: { text: 'Add a note about the changes to this registration', size: "m" },
                      hint: { text: "Begin your note with the date and your initials. (Notes are for internal use only.)" },
                      max_chars: 1_000
  %>

  <%= hidden_field_tag :return_path, @return_path %>

  <div class="govuk-button-group">
    <%= f.govuk_submit "Add note" %>
    <%= govuk_link_to "Cancel", @return_path %>
  </div>
<% end %>
