<h1 class="govuk-heading-l"><%= user.full_name %></h1>

<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>User ID:</strong>
  <%= user.ecf_id %>
</p>

<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>Email:</strong>
  <%= user.email %>
</p>

<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>Date of birth:</strong>
  <%= user.date_of_birth.to_fs(:govuk_short) %>
  |
  <strong>National Insurance:</strong>
  <%= user.national_insurance_number.presence || 'Not provided' %>
</p>

<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>TRN:</strong>
  <%= user.trn %>
  <%= trn_verified_badge(@application.user) %>
</p>

<p class="govuk-body govuk-!-margin-bottom-6">
  <strong>Get an Identity ID:</strong>
  <%= user.uid.presence || 'Not set' %>
</p>
