
<!DOCTYPE html>
<html lang="en" class="govuk-template admin--wide">
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body ">
    <%= render partial: "shared/analytics/google_noscript" %>

    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render partial: "shared/cookies/banner" %>

    <%= render partial: "layouts/shared/header" %>

    <div class="govuk-width-container">
      <%= render NpqSeparation::Admin::PrimaryNavigationComponent.new(request.path) %>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render partial: "layouts/shared/messages" %>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <%=
              render NpqSeparation::Admin::SubNavigationComponent.new(
                request.path,
                lead_providers: LeadProviders::Find.new.all
              )
            %>
          </div>

          <div class="govuk-grid-column-three-quarters">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
  </body>

  <%= render partial: "layouts/shared/footer" %>
</html>
