<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded govuk-template--wide">
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body">
    <%= render partial: "shared/analytics/google_noscript" %>
    <%= render partial: "layouts/shared/govuk_javascript" %>

    <%= nonced_javascript_tag do %>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    <% end %>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render partial: "shared/cookies/banner" %>

    <%= govuk_header %>

    <%=
      govuk_service_navigation(
        current_path: request.path,
        navigation_items: admin_service_navigation_items,
        service_name: "Manage NPQs",
        service_url: npq_separation_admin_path,
      )
    %>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content">
        <%= render partial: "layouts/shared/messages" %>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter" id="side-navigation">
            <%=
              render NpqSeparation::SubNavigationComponent.new(
                request.path,
                structure: admin_navigation_structure.sub_structure(request.path, default_to_first_section: true),
              )
            %>

            <%= yield :side_navigation %>
          </div>

          <div class="govuk-grid-column-three-quarters">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
  </body>

  <%= render partial: "layouts/shared/footer" %>
</html>
