<!DOCTYPE html>
<html lang="en" class="govuk-template admin--wide">
<%= render partial: "layouts/shared/head" %>

<body class="govuk-template__body">

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

<%= render partial: "layouts/api_guidance/header" %>
<% primary_navigation = NpqSeparation::PrimaryNavigationComponent.new(request.path, default_section: false, structure: guidance_navigation_structure) %>
<%= render(primary_navigation) %>

<main id="main-content" role="main">
  <%= render partial: "layouts/shared/messages" %>

  <div class="govuk-grid-row">
    <% if @page.index_page? %>
      <div class="govuk-grid-column-full">
        <%= yield %>
      </div>
    <% else %>
      <div class="govuk-width-container  govuk-!-padding-top-7">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <%=
              render NpqSeparation::SubNavigationComponent.new(
                request.original_url,
                structure: guidance_navigation_structure.sub_structure(primary_navigation.current_section.name),
              )
            %>
          </div>
          <div class="govuk-grid-column-three-quarters">
            <%= yield %>
          </div>
        </div>
        <% if @page.sub_headings.any? %>
          <div class="govuk-grid-row govuk-!-padding-bottom-5">
            <div class="govuk-grid-column-one-quarter">
              <%= govuk_link_to("↑ Back to top", "#top") %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</main>
</body>
<%= render partial: "layouts/shared/footer" %>
</html>
