<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded admin--wide">
<% content_for :head do %>
  <%= nonced_javascript_include_tag 'mermaid', defer: true %>
<% end %>
<%= render partial: "layouts/shared/head" %>

<body class="govuk-template__body js-enabled <%= yield :body_class %>">
  <%= render partial: "layouts/shared/govuk_javascript" %>

  <% if show_tracking_pixels? %>
    <%= render partial: "shared/analytics/tracking_pixels" %>
  <% end %>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  <%= render partial: "layouts/api_guidance/header" %>
  <% primary_navigation = NpqSeparation::PrimaryNavigationComponent.new(request.path, default_to_first_section: false, structure: guidance_navigation_structure) %>
  <%= render(primary_navigation) %>

  <% if !@page.index_page? %>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div role="region" aria-label="Backwards navigation", class="govuk-!-margin-bottom-6">
            <%= govuk_back_link(href: url_for(:back)) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: "layouts/shared/maintenance_banner" %>

  <main id="main-content" class="api-guidance">
    <%= render partial: "layouts/shared/messages" %>

    <% if @page.index_page? %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <nav class="x-govuk-sub-navigation" aria-labelledby="sub-navigation-heading">
              <h2 class="govuk-visually-hidden" id="sub-navigation-heading">Navigation</h2>
              <ul class="x-govuk-sub-navigation__section">
                <% @page.sections.each do |href, text| %>
                  <li class="x-govuk-sub-navigation__section-item">
                    <a class="x-govuk-sub-navigation__link" href="<%= href %>">
                      <%= text %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div>
          <div class="govuk-grid-column-three-quarters">
            <%= yield %>
          </div>
        </div>
        <% if @page.sections.any? %>
          <div class="govuk-grid-row govuk-!-padding-bottom-5">
            <div class="govuk-grid-column-one-quarter">
              <%= govuk_link_to("↑ Back to top", "#top") %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </main>
</body>
<%= render partial: "layouts/shared/footer" %>
</html>
