<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body ">
    <%= render partial: "shared/analytics/google_noscript" %>

    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render partial: "shared/cookies/banner" %>

    <%= render partial: "layouts/shared/header" %>

    <aside class="govuk-width-container">
      <%= render GovukComponent::PhaseBannerComponent.new(
        tag: { text: 'Beta' },
        text: link_to("Give feedback about this service.", FEEDBACK_FORM_URL, class: "govuk-link govuk-link--no-visited-state", target: :blank)
      ) %>
    </aside>

    <div class="govuk-width-container">
      <div role="navigation">
        <%= content_for(:before_content) %>
      </div>

      <main class="govuk-main-wrapper" id="main-content">
        <%= render partial: "layouts/shared/messages" %>

        <%= yield %>
      </main>
    </div>
  </body>

  <%= render partial: "layouts/shared/footer" %>
</html>
