<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body ">
    <%= render partial: "shared/analytics/google_noscript" %>

    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render partial: "shared/cookies/banner" %>

    <%= render partial: "layouts/shared/header" %>

    <aside class="govuk-width-container">
      <%= render GovukComponent::PhaseBannerComponent.new(
        tag: { text: 'Beta' },
        text: "This is a new service – #{govuk_mail_to("continuing-professional-development@digital.education.gov.uk", "give feedback or report a problem", subject: "Feedback about Register for a national professional qualification (NPQ)")}".html_safe
      ) %>
    </aside>

    <div class="govuk-width-container">
      <div role="navigation">
        <%= content_for(:before_content) %>
      </div>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render partial: "layouts/shared/messages" %>

        <%= yield %>
      </main>
    </div>
  </body>

  <%= render partial: "layouts/shared/footer" %>
</html>
