<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body ">
    <%= render partial: "shared/analytics/google_noscript" %>

    <% if show_tracking_pixels? %>
      <%= render partial: "shared/analytics/tracking_pixels" %>
    <% end %>

    <%= render partial: "layouts/shared/govuk_javascript" %>

    <%= render partial: "shared/cookies/banner" %>

    <a tabindex="0" href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= govuk_header %>

    <%=
      govuk_service_navigation(
        current_path: request.path,
        navigation_items: service_navigation_items,
        service_name: "Register for a national professional qualification",
        service_url: root_path,
      )
    %>

    <aside class="govuk-width-container">
      <%= render GovukComponent::PhaseBannerComponent.new(
        tag: { text: 'Beta' },
        text: link_to("Give feedback about this service.", FEEDBACK_FORM_URL, class: "govuk-link govuk-link--no-visited-state", target: :blank)
      ) %>
    </aside>

    <%= render partial: "layouts/shared/maintenance_banner" %>

    <div class="govuk-width-container">
      <div role="navigation">
        <%= content_for(:before_content) %>
      </div>

      <main class="govuk-main-wrapper" id="main-content">
        <%= render partial: "layouts/shared/messages" %>

        <%= yield %>
      </main>
    </div>
  </body>

  <%= render partial: "layouts/shared/footer" %>
</html>
