<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Course details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course
        </dt>
        <dd class="govuk-summary-list__value">
          <%= title_embedded_course_name(application.course) %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="<%= registration_wizard_show_url('change_your_course_or_provider'.dasherize) %>">
            Change<span class="govuk-visually-hidden"> Course</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider
        </dt>
        <dd class="govuk-summary-list__value">
          <%= application.lead_provider.name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="<%= registration_wizard_show_url('change_your_course_or_provider'.dasherize) %>">
            Change<span class="govuk-visually-hidden"> Provider</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider application
        </dt>
        <dd class="govuk-summary-list__value">
            <% if application.lead_provider_approval_status.blank? || pending?(application) %>
              <strong class="govuk-tag govuk-tag--yellow">APPLY WITH PROVIDER</strong>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= I18n.t("provider_details.pending_status")  %></p>
            <% elsif accepted?(application) %>
              <strong class="govuk-tag govuk-tag--green">SUCCESSFUL</strong>
            <% elsif rejected?(application) %>
              <strong class="govuk-tag govuk-tag--red">UNSUCCESSFUL</strong>
            <% end %>
        </dd>
        <!-- This code is only written for review apps in order to update the external statuses -->
        <% if Rails.env.review? %>
          <dd class="govuk-summary-list__actions">
            <%= link_to 'Update Status', update_approval_status_admin_application_path(application), method: :patch %>
          </dd>
        <% end %>
      </div>

      <% if application.lead_provider_approval_status.blank? || pending?(application) %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course start
          </dt>
          <dd class="govuk-summary-list__value">
            February 2024
            <% if application.eligible_for_funding %>  
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= I18n.t("course_start_details.eligible_for_funding")  %></p>
            <% else %>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= I18n.t("course_start_details.not_eligible_for_funding")  %></p>
            <% end %>
          </dd>
        </div>
      <% end %>

      <% if application.participant_outcome_state.present? && accepted?(application) %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course outcome
          </dt>
          <dd class="govuk-summary-list__value">
              <% if application.participant_outcome_state.capitalize == "Passed" %>
                <strong class="govuk-tag govuk-tag--green">PASSED</strong>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= t("course.outcome.passed_html")  %></p>
              <% elsif application.participant_outcome_state.capitalize == "Failed" %>
                <strong class="govuk-tag govuk-tag--red">NOT PASSED</strong>
                <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= t("course.outcome.failed")  %></p>
              <% end %>
          </dd>
          <!-- This code is only written for review apps in order to update the external statuses -->
          <% if Rails.env.review? %>
            <dd class="govuk-summary-list__actions">
              <%= link_to 'Update Outcome', update_participant_outcome_admin_application_path(application), method: :patch %>
            </dd>
          <% end %>
        </div>
      <% elsif Rails.env.review? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course outcome
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--red">N/A</strong>
          </dd>
          <% if accepted?(application)%>
            <dd class="govuk-summary-list__actions">
              <%= link_to 'Update Outcome', update_participant_outcome_admin_application_path(application), method: :patch %>
            </dd>
          <% end %>
        </div>
      <% end %>
    </dl>
  </div>
</div>
