<% def scholarship_funding_row(application) %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Scholarship funding
    </dt>
    <dd class="govuk-summary-list__value">
      <% unless scholarship_eligibility_in_review?(application) %>
        <% if application.eligible_for_funding %>
          <%= govuk_tag(text: "Eligible", colour: "green") %>
        <% else %>
          <%= govuk_tag(text: "Not eligible", colour: "red") %>
        <% end %>
      <% end %>
      <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= scholarship_funding_eligibility(application) %></p>
      <% unless application.eligible_for_funding || scholarship_eligibility_in_review?(application) %>
        <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= I18n.t("funding_details.ineligible_message") %></p>
      <% end %>
    </dd>
  </div>
<% end %>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Funding details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">

      <% if application.targeted_delivery_funding_eligibility %>

        <% scholarship_funding_row(application) %>

        <% if Flipper.enabled?(:targeted_support_funding) || application.created_at < APRIL_2024_CUTOFF_DATE %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Targeted support funding
            </dt>
            <dd class="govuk-summary-list__value">
              <%= govuk_tag(text: "Eligible", colour: "green") %>
              <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= targeted_support_funding %></p>
            </dd>
          </div>
        <% end %>
      <% else %>
        <% scholarship_funding_row(application) %>
      <% end %>

      <% unless application.eligible_for_funding? %>
        <% if application.raw_application_data["ehco_funding_choice"].present? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Course funding</dt>
            <dd class="govuk-summary-list__value"><%= I18n.t(application.raw_application_data["ehco_funding_choice"], scope: "helpers.label.registration_wizard.ehco_funding_choice_options") %></dd>
          </div>
        <% end %>

        <% if application.raw_application_data["funding"].present? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Course funding</dt>
            <dd class="govuk-summary-list__value"><%= I18n.t(application.raw_application_data["funding"], scope: "helpers.label.registration_wizard.funding_options") %></dd>
          </div>
        <% end %>
      <% end %>
    </dl>
  </div>
</div>
