<% application_count = current_user.applications.count %>

<% if application_count > 0%>
  <% if application_count == 1 %>
    <h2 class="govuk-heading-xl"><%= title ||= t(".title") %></h2>
  <% else %>
    <h2 class="govuk-heading-xl"><%= title ||= t(".pural_title") %></h2>
  <% end %>
  <div class="govuk-inset-text">
    <%= govuk_link_to("Visit your DfE Identity account", link_to_identity_account(request.original_url)) %> to check or change your personal details.
  </div>
<% end %>
<% applications = current_user.applications.order(created_at: :desc) %>

<% applications.each do |application| %>
  <%= render "application_table", application: application %>
<% end %>

<%= render partial: 'registration_wizard/shared/register_for_an_npq' %>
