<% content_for :title, "Your NPQ registrations" %>

<% content_for :before_content do %>
  <%= render GovukComponent::BreadcrumbsComponent.new(
    breadcrumbs: { t(".plural_title") => nil }
  ) %>
<% end %>

<% if application_count > 0 %>
  <h1 class="govuk-heading-l"><%= t(application_count == 1 ? ".title" : ".plural_title") %></h1>
<% end %>

<% @active_applications.each do |application| %>
  <%= render "active_application_table", application: application %>
<% end %>

<% if @expired_applications.any? %>
  <h3 class="govuk-heading-l">Expired registrations</h3>

  <% @expired_applications.each do |application| %>
    <%= render "expired_application_table", application: application %>
  <% end %>
<% end %>

<%= render partial: 'registration_wizard/shared/register_for_an_npq' %>
